<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="">
      <h1 class="title">
        ERROR 404
      </h1>
      <p class="subtitle">
        page not found
      </p>
      <a href="/">HOME</a>
    </div>
  </div>
</section>
