<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="">
      <h1 class="title">
        WELCOME
      </h1>
      <p class="subtitle">
        RUBY VERSION: <%= RUBY_VERSION %>
      </p>
    </div>
  </div>
</section>
